
<form class="form-horizontal" method="post" {{action "submit" on="submit"}}>
    <fieldset>
        <div class="form-group {{if ingredients.name "has-error"}}">
        {{!--<div class="form-group" >--}}
            <label for="nev" class="col-lg-2 control-label">Név</label>
            <div class="col-lg-10">
                <input class="form-control" id="nev" name="nev" placeholder="pl. 1 kiló krumpli..." type="text" value="{{ingredient.name}}" {{action "validate" on="change"}}>
                <span class="help-block">{{ingredients.name}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Mégsem</button>
                <button type="submit" class="btn btn-primary">Felvisz</button>
            </div>
        </div>
    </fieldset>
</form>        